* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #dcdcdc;
}

.container {
display: flex;
justify-content: center;
align-items: center;
}

.tarjeta {
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
background: white;
padding: 20px;
width: 300px;
border-radius: 12px;
}

.imagen {
width: 100%;
border-radius: 10px;
}

.titulo {
font-size: 20px;
text-align: center;
color: rgb(106, 0, 0);
}

.texto {
font-size: 14px;
text-align: center;
color: black;
}

.enviar {
padding: 10px 20px;
background: rgb(110, 0, 0);
color: white;
border-radius: 8px;
}
