
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
    color: #000000;
    
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

.main-container {
    display: flex; 
    max-width: 1200px; 
    margin: 20px auto; 
    gap: 20px; 
    flex-grow: 1; 
    background-color:#d1d1d1;
    border-radius: 8px;
}

.menu {
    width: 500px; 
    padding: 20px;
    background-color: #ffffff; 
    border-right: 1px solid #eee; 
    border-radius: 30px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
    
}

.content {
    padding: 10px 40px; 
    background-color: rgb(255, 255, 255); 
    box-shadow: none; 
    border-radius: 20px;
}

.content h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.8em;
}

.projects-grid {
    display: flex; 
    gap: 15px; 
    flex-wrap: nowrap; 
    padding-bottom: 5px; 
}

.project-card { 
    min-width: 200px; 
    background-color: rgb(224, 223, 223); 
    padding: 10px;
    border-radius: 5px;
    text-align: left; 
    border: 1px solid #eee; 
}

.project-card h3 {
    margin: 10px 0 5px;
    font-size: 1.1em;
}

.card-img {
    width: 100%;
    height: 120px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%; 
}