*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    border: 1px solid rgb(0, 20, 87);
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
    gap: 0.5rem;
}
.pantalla{
    grid-column: span 4;
    width: 100%;
    background-color: rgb(109, 143, 224);
    height: 1.5rem;
}
button{
    padding: 0.2rem;
}