*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    border: 2px solid rgb(0, 20, 87);
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
    gap: 0.5rem;
    background-color: rgb(122, 153, 223);
}
.pantalla{
    grid-column: span 4;
    width: 100%;
    background-color: rgb(214, 235, 254);
    height: 1.5rem;
    border: 1px solid rgb(0, 20, 87);
    border-radius: 2px;
    color:rgb(0, 20, 87) ;
}
button{
    padding: 0.2rem;
    background-color:rgb(0, 20, 87) ;
    color: azure;
    border-radius: 2px;
}
